{% extends 'main/base.html' %}

{% block title %}Twitter clone | Home{% endblock %}

{% block content %}
    <div>
    {% for twt in tweets %}
        <div class="tweet">
            <section class="profile">
                {% load static %}
                <img src="{% static 'media/no-profile-picture-4-1024x1024.jpg'%}" alt="profile-pic">
            <section>
            <section class="twt-content">
                <h3>{{ twt.author.username }} </h3><span>{{ twt.author.email }} |  {{ twt.date_time }}</span>
                
                <div class="nothing" style="height:10px;"></div>

                <div>
                    <p>{{ twt.text }}</p>
                </div>
                <div class="twt-img">
                    <img src="{% static twt.image %}" alt="">
                </div>
                <div>
                    <div><img class="twt-icons" src="{% static 'icons/icons8_hearts_26px.png' %}" alt="hearts"><span font-size="10px">{{ twt.likes|length }}</span></div>
                    <div><img class="twt-icons" src="{% static 'icons/icons8_retweet_24px.png' %}" alt="retweet" ><span font-size="10px">{{ twt.retweets|length }}</span></div>
                    <div><img class="twt-icons" src="{% static 'icons/icons8_comments_24px.png' %}" alt="comments" ><span font-size="10px">{{ twt.comments|length }}</span></div>
                    <div><img class="twt-icons" src="{% static 'icons/icons8_bar_chart_26px_1.png' %}" alt="stats" ><span font-size="10px">{{ twt.views|length }}</span></div>
                </div>
            </section>
        </div>
    {% endfor %}
    </div>
{% endblock %}